.books-wraper {
    display: grid;
    gap: 2rem;
    margin-top: 4rem;
}


.book-card {
    padding: 1rem;
    border: 1px solid #e3dddd;
    box-shadow: 2px 1px 10px #0002;


    h3 {
        margin-top: 0.5rem;
    }
    
    img {
        object-fit: cover;
        width: 100%;
    }
}


@media (min-width:768px) {
    .books-wraper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }
}
